<!DOCTYPE html>
<html lang="vi">
  <head>
    <%- include('../partials/head.html') %>
    <title>Tạo Cửa Hàng Bán Lẻ Online</title>
    <meta
      name="description"
      content="Làm hài lòng khách hàng của bạn. Đơn giản để tạo lập và phát triển."
    />
    <meta
      property="og:image"
      content="/assets/img/Personal%20site-cuate.svg?h=8c2ed189e86078111fc282bd9a3c5f7e"
    />
  </head>

  <body>
    <%- include('../partials/header.html') %>
    <main>
      <section class="d-lg-flex align-items-lg-center pt-5">
        <div class="container">
          <div class="row">
            <div
              class="col-md-5 col-lg-5 col-xl-5 d-lg-flex order-2 order-md-1 align-items-lg-center"
            >
              <section class="py-3">
                <h1 class="display-4 shake animated">
                  Giải pháp&nbsp;<label class="text-primary font-weight-bold"
                    >Website/App</label
                  >
                </h1>
                <h2 data-aos="zoom-in">HỖ TRỢ PHỤC HỒI SAU DỊCH COVID-19</h2>
                <ul class="text-secondary">
                  <li data-aos="fade-right" data-aos-duration="100">
                    Miễn phí khởi tạo.
                  </li>
                  <li data-aos="fade-right" data-aos-duration="200">
                    Bao gồm domain, hosting, ssl.
                  </li>
                  <li data-aos="fade-right" data-aos-duration="300">
                    Không phát sinh chi phí.
                  </li>
                </ul>
                <h3 data-aos="fade-up" data-aos-duration="400">
                  Có ngay website&nbsp;<span class="text-primary"
                    ><strong>bán hàng</strong></span
                  >&nbsp;chỉ với
                  <span class="text-primary"><strong>100.000</strong></span
                  ><strong>&nbsp;</strong>tháng.
                </h3>
                <p class="text-secondary">
                  <em>* Chỉ hỗ trợ cài miễn phí cho 10 shop đầu tiên.</em>
                </p>
                <img
                  class="shake animated img-ab"
                  src="/assets/img/decor-lp.png?h=65686a6380bfcc6bda5e88e5641a28e2"
                  alt="Highlight"
                />
              </section>
            </div>
            <div
              class="col-sm-12 col-md-7 col-lg-7 col-xl-7 d-md-flex order-1 align-items-md-center order-md-2 w-100"
            >
              <img
                class="img-fluid w-100"
                data-aos="zoom-in"
                src="/assets/img/Personal%20site-cuate.svg?h=8c2ed189e86078111fc282bd9a3c5f7e"
                alt="Ảnh bìa"
              />
            </div>
          </div>
        </div>
      </section>
      <section class="text-center p-4" id="price">
        <div class="container" data-aos="fade-up">
          <div class="mb-4 box-header">
            <h4 class="text-uppercase text-secondary font-sm">bắt đầu</h4>
            <h4 class="font-weight-bold">Bán Hàng Online</h4>
            <div class="text-warning divider-hl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div
              class="col-12 col-sm-6 col-md-4 text-center py-4"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="px-4 bl">
                <h5 class="text-center text-primary font-weight-bold">
                  Cơ Bản
                </h5>
                <p class="p-desc text-secondary">
                  Cung cấp giao diện đẹp mắt cho nhà bán hàng cá nhân hoặc cửa
                  hàng.&nbsp;
                </p>
                <div class="mb-3">
                  <h6 class="d-inline-block font-weight-bold">0 đ</h6>
                  <h5 class="d-inline-block text-desc">&nbsp;/ tháng</h5>
                </div>
                <p>Báo đơn siêu tốc</p>
              </div>
            </div>
            <div
              class="col-12 col-sm-6 col-md-4 text-center"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <a href="/standard.html">
                <div class="p-4 bg-primary rounded-1">
                  <div>
                    <h5 class="text-center text-light font-weight-bold">
                      Tiện Lợi
                    </h5>
                    <p class="text-light p-desc text-secondary">
                      Là gói Cơ Bản mở rộng với tên miền tùy chỉnh.
                    </p>
                    <div class="text-light mb-3">
                      <h6 class="text-light d-inline-block font-weight-bold">
                        149.000 đ
                      </h6>
                      <h5 class="d-inline-block text-desc">&nbsp;/ tháng</h5>
                    </div>
                  </div>
                  <p class="text-light">Tền miền tùy chỉnh</p>
                </div>
              </a>
            </div>
            <div
              class="col text-center p-4"
              data-aos="fade-up"
              data-aos-delay="600"
            >
              <div class="o-50">
                <h5 class="text-center text-primary font-weight-bold">
                  Đầy Đủ (Sắp Ra Mắt)
                </h5>
                <p class="p-desc text-secondary">
                  Nếu bạn đang bán hàng online cần thanh toán online và tính phí
                  ship.
                </p>
                <div class="mb-3">
                  <h6 class="d-inline-block font-weight-bold">245.000 đ</h6>
                  <h5 class="d-inline-block text-desc">&nbsp;/ tháng</h5>
                </div>
                <p>Ship và thanh toán</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="desc" class="pt-5">
        <div class="container">
          <div class="row py-5">
            <div
              class="col-md-7 col-lg-6 col-xl-7 d-sm-flex justify-content-sm-center"
              data-aos="zoom-in"
            >
              <a class="w-100" href="/standard.html"
                ><img
                  class="img-fluid w-100"
                  data-aos="zoom-in"
                  src="/assets/img/Add%20notes-pana.svg?h=31a520e11dd1aa5c97714f715192701a"
                  loading="lazy"
                  alt="Ảnh giới thiệu"
              /></a>
            </div>
            <div
              class="col-12 col-md-5 col-lg-6 col-xl-5 d-lg-flex align-items-lg-center"
            >
              <section class="py-3">
                <h1 data-aos="fade-right">
                  Loa Loa&nbsp;<label class="text-primary"
                    >là lựa chọn hoàn hảo.</label
                  >
                </h1>
                <p
                  class="text-justify text-secondary mb-4 font-weight-bold"
                  data-aos="fade-right"
                >
                  <em
                    >Hãy tập trung vào những tính năng thực sự cần thiết với
                    giao diện dễ dàng sử dụng cho bất cứ ai.</em
                  >
                </p>
                <ul class="text-secondary">
                  <li data-aos="fade-up" data-aos-duration="100">
                    Giao diện hiện đại, tối giản.
                  </li>
                  <li data-aos="fade-up" data-aos-duration="200">
                    Tính năng bán hàng chuẩn.
                  </li>
                  <li data-aos="fade-up" data-aos-duration="300">
                    Không cần kiểm tra đơn thường xuyên.
                  </li>
                </ul>
                <p
                  class="text-justify mb-4 font-weight-bold"
                  data-aos="fade-right"
                  data-aos-duration="400"
                >
                  Quá nhiều tính năng sẽ gây khó khăn trong việc quản trị. Và
                  kiến khách hàng rời bỏ website.
                </p>
              </section>
            </div>
          </div>
        </div>
      </section>
      <section class="text-center p-4" id="price-3">
        <div class="container" data-aos="fade-up">
          <div class="mb-4 box-header">
            <h4 class="text-uppercase text-secondary font-sm">
              bạn muốn giao diiện độc nhất?
            </h4>
            <h5 class="font-weight-bold">Thiết Kế Theo Yêu Cầu</h5>
            <div class="text-warning divider-hl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div
              class="col-12 col-sm-6 col-md-4 text-center py-4"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="px-4 bl">
                <h5 class="text-center text-primary font-weight-bold">
                  Thương Hiệu
                </h5>
                <p class="p-desc text-secondary">Giao diện theo yêu cầu.</p>
                <div class="mb-3">
                  <h6 class="d-inline-block font-weight-bold">6.000.000 đ</h6>
                </div>
              </div>
            </div>
            <div
              class="col-12 col-sm-6 col-md-4 text-center"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <a href="/projects.html">
                <div class="p-4 rounded-1 bg-primary">
                  <div>
                    <h5 class="text-center text-light font-weight-bold">
                      Chuyên Nghiệp
                    </h5>
                    <p class="text-light p-desc text-secondary">
                      Thương mại điện tử. Các trang có độ phức tạp cao.
                    </p>
                    <div class="text-light mb-3">
                      <h6 class="d-inline-block font-weight-bold">
                        15.000.000 đ
                      </h6>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div
              class="col text-center p-4"
              data-aos="fade-up"
              data-aos-delay="600"
            >
              <div>
                <h5 class="text-center text-primary font-weight-bold">
                  Quản Lý
                </h5>
                <p class="p-desc text-secondary">
                  Số hóa các hoạt động của doanh nghiệp.
                </p>
                <div class="mb-3">
                  <h6 class="d-inline-block font-weight-bold">40.000.000 đ</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="text-center pt-5" id="price-1">
        <div class="container" data-aos="fade-up">
          <div class="mb-4 box-header">
            <h6 class="text-uppercase text-secondary">ĐỘI NGŨ</h6>
            <h4 class="font-weight-bold">Tài Năng. Nhiệt Huyết.</h4>
            <div class="text-warning divider-hl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-5 col-xl-5 py-3">
              <form
                class="text-light bg-white shadow p-4 rounded-1"
                data-aos="fade-up"
                data-bss-recipient="5bbbc3a216f2b595a2c41fdf975f0c8b"
              >
                <h3 class="text-primary mb-4 font-weight-bold">
                  Gặp Gỡ Trao Đổi
                </h3>
                <p class="text-left text-secondary">
                  Để hiểu rõ hơn về website/app và quy trình, thiết kế cũng như
                  các chi phí liên quan. Loa Loa Team sẽ tư vấn và đưa ra giải
                  pháp phù hợp cho quý anh/chị.
                </p>
                <p class="text-left text-secondary">
                  Cảm ơn anh/chị đã dành thời gian.
                </p>
                <p class="text-left text-secondary">Thân,</p>
                <p class="text-left text-secondary">Trần Ngọc Huy.</p>
                <h5 class="text-left text-primary">Thời gian/địa điểm.</h5>
                <input
                  class="form-control mb-3"
                  type="text"
                  placeholder="Thời gian, địa điểm."
                  name="location"
                />
                <h5 class="text-left text-primary">Số điện thoại</h5>
                <input
                  class="form-control mb-3"
                  type="text"
                  placeholder="Số điện thoại"
                  name="phone"
                /><button class="btn btn-primary" type="submit">
                  Đặt Lịch Hẹn
                </button>
              </form>
            </div>
            <div class="col">
              <div class="row py-4">
                <div
                  class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 py-3"
                  data-aos="fade-right"
                  data-aos-duration="50"
                >
                  <div>
                    <div
                      class="img-avatar mb-3"
                      style="
                        background: url('/assets/img/khai.png?h=bbcdc00a8da1ea56f7a3fd776eca96b7')
                          center / cover no-repeat;
                      "
                    ></div>
                    <h6 class="text-primary">&nbsp;Trần Hưng Quốc Khải</h6>
                  </div>
                  <p class="text-secondary font-sm">Coder - Web Server</p>
                  <p class="text-body font-xs">Bách Khoa Đà Nẵng</p>
                </div>
                <div
                  class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 py-3"
                  data-aos="fade-right"
                  data-aos-duration="100"
                >
                  <div>
                    <div
                      class="img-avatar mb-3"
                      style="
                        background: url('/assets/img/91196445_871510406630667_4874596600296505344_n.jpg?h=26b3d1322de2bdcd0f467ea142b1f5c5')
                          center / cover no-repeat;
                      "
                    ></div>
                    <h6 class="text-primary">Nguyễn Kim Huy</h6>
                  </div>
                  <p class="text-secondary font-sm">Designer - Web/App</p>
                  <p class="text-body font-xs">Bách Khoa Đà Nẵng</p>
                </div>
                <div
                  class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 py-3"
                  data-aos="fade-right"
                  data-aos-duration="200"
                >
                  <div>
                    <div
                      class="img-avatar mb-3"
                      style="
                        background: url('/assets/img/duy.jpg?h=bfc4ba331c9f1ea672875e41c9f749b5')
                          center / cover no-repeat;
                      "
                    ></div>
                    <h6 class="text-primary">Nguyễn Hoàng Duy</h6>
                  </div>
                  <p class="text-secondary font-sm">Coder - Web UI</p>
                  <p class="text-body font-xs">Sư Phạm Đà Nẵng</p>
                </div>
                <div
                  class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 py-3"
                  data-aos="fade-right"
                  data-aos-duration="300"
                >
                  <div>
                    <div
                      class="img-avatar mb-3"
                      style="
                        background: url('/assets/img/hoa.jpg?h=ebb1f2619ecddbe315f568a6c32e22ef')
                          center / cover no-repeat;
                      "
                    ></div>
                    <h6 class="text-primary">Nguyễn Ích Hòa</h6>
                  </div>
                  <p class="text-secondary font-sm">Coder - Web Server</p>
                  <p class="text-body font-xs">Bách Khoa Đà Nẵng</p>
                </div>
                <div
                  class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 py-3"
                  data-aos="fade-right"
                  data-aos-duration="400"
                >
                  <div>
                    <div
                      class="img-avatar mb-3"
                      style="
                        background: url('/assets/img/79b52894110eef50b61f.jpg?h=b1e957cf9b6120b1b8ded175375d8838')
                          center / cover no-repeat;
                      "
                    ></div>
                    <h6 class="text-primary">Nguyễn Nhật Tùng</h6>
                  </div>
                  <p class="text-secondary font-sm">Coder - Web Server</p>
                  <p class="text-body font-xs">Bách Khoa Đà Nẵng</p>
                </div>
                <div
                  class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 py-3"
                  data-aos="fade-right"
                  data-aos-duration="400"
                >
                  <div>
                    <div
                      class="img-avatar mb-3"
                      style="
                        background: url('/assets/img/86704328_849144845498986_8306665392701440000_o.jpg?h=79be33149e1ac5f260ef87607e120e4f')
                          center / cover no-repeat;
                      "
                    ></div>
                    <h6 class="text-primary">Tăng Bá Hồng Phúc</h6>
                  </div>
                  <p class="text-secondary font-sm">Coder - Web UI</p>
                  <p class="text-body font-xs">Bách Khoa Đà Nẵng</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- Start: Social Icons -->
    <div class="social-icons bg-tr">
      <a
        href="https://www.facebook.com/ecommerce.loaloa.tech"
        target="_blank"
        rel="noreferrer"
        ><i class="icon ion-social-facebook"></i></a
      ><a
        href="https://www.instagram.com/loaloatech/"
        target="_blank"
        rel="noreferrer"
        ><i class="icon ion-social-instagram"></i></a
      ><a
        href="https://www.youtube.com/channel/UCyP7KTnnoK_qwM9CfaRXapg/featured"
        target="_blank"
        rel="noreferrer"
        ><i class="icon ion-social-youtube"></i
      ></a>
    </div>
    <!-- End: Social Icons -->
    <%- include('../partials/footer.html') %>
  </body>
</html>
