<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tạo Cửa Hàng Bán Lẻ Online</title>
    <meta name="twitter:description" content="<!-- Load Facebook SDK for JavaScript -->
      <div id=&quot;fb-root&quot;></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v9.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your Chat Plugin code -->
      <div class=&quot;fb-customerchat&quot;
        attribution=setup_tool
        page_id=&quot;395622761034219&quot;
  theme_color=&quot;#ff895a&quot;
  logged_in_greeting=&quot;Tư vấn ngay, giúp bạn hiểu hơn về Website/Phần mềm. ^_^&quot;
  logged_out_greeting=&quot;Tư vấn ngay, giúp bạn hiểu hơn về Website/Phần mềm. ^_^&quot;>
      </div>">
    <meta property="og:image" content="/assets/img/Personal%20site-cuate.svg?h=8c2ed189e86078111fc282bd9a3c5f7e">
    <meta name="twitter:title" content="Giải Pháp Phần Mềm">
    <meta name="twitter:card" content="summary">
    <meta name="description" content="Làm hài lòng khách hàng của bạn. Đơn giản để tạo lập và phát triển.">
    <meta property="og:type" content="website">
    <meta name="twitter:image" content="/assets/img/Personal%20site-cuate.svg?h=8c2ed189e86078111fc282bd9a3c5f7e">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png?h=cf681ecd5bbf6d03e3056673d0122646">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png?h=dada6ed6c75053e6f84520a87241cd23">
    <link rel="icon" type="image/png" sizes="180x180" href="/assets/img/apple-icon-180x180.png?h=b5b7d59e89a4d05d1aca1c00dfe1b70f">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/android-icon-192x192.png?h=033de9a23d4cfa21fd3383f727564736">
    <link rel="icon" type="image/png" sizes="310x310" href="/assets/img/ms-icon-310x310.png?h=f9285fe98206007e11710305c82d9ea2">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.3/united/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css?h=69c29b29303563e0ebbd0e0e69162409">
</head>

<body>
    <%- include('../partials/header.html') %>

    <main>
        <section class="text-center pt-5" id="price-2">
            <div class="container" data-aos="fade-up">
                <div class="mb-4" style="margin: auto;max-width: 500px;">
                    <h6 class="text-uppercase text-secondary">HỒ SƠ</h6>
                    <h4 class="font-weight-bold">Mẫu Website</h4>
                    <div class="text-warning" style="border-bottom: 15px solid;margin-top: -18px;width: 98px;"></div>
                </div>
            </div>
            <div class="container">
                <div class="row d-sm-flex justify-content-sm-center">
                    <div class="col-sm-6 col-lg-4 col-xl-4"><img class="rounded w-100 mb-3" src="/assets/img/50540389227_cc65a91bc5_w.jpg?h=d26eaf2e4e6e6dba5df558125e9f995c" loading="lazy"></div>
                    <div class="col-sm-6 col-lg-4 col-xl-4"><img class="rounded w-100 mb-3" src="/assets/img/50540389002_06dc8f5501_w.jpg?h=6a68e1af1918b6f1fc9d05ab26f266e2" loading="lazy"></div>
                    <div class="col-sm-6 col-lg-4 col-xl-4"><img class="rounded w-100 mb-3" src="/assets/img/50540388917_d763f0675f_w.jpg?h=3a8b0255416080398c5e3761fa85a680" loading="lazy"></div>
                    <div class="col-sm-6 col-lg-4 col-xl-4"><img class="rounded w-100 mb-3" src="/assets/img/50540384612_1630e8fe6e_w.jpg?h=8bde94f4e5ae596a0ec10f58ba61facc" loading="lazy"></div>
                    <div class="col-sm-6 col-lg-4 col-xl-4"><img class="rounded w-100 mb-3" src="/assets/img/50540383452_c92cd183ce_w.jpg?h=f7de3ad2db68df143568cf45024a377d" loading="lazy"></div>
                    <div class="col-sm-6 col-lg-4 col-xl-4"><img class="rounded w-100 mb-3" src="/assets/img/50540382807_b7b7c5cb92_w.jpg?h=1b3307e9f07ea744cf5c3f3ad90e1dcd" loading="lazy"></div>
                    <div class="col-sm-6 col-lg-4 col-xl-4"><img class="rounded w-100 mb-3" src="/assets/img/50540380727_60cc503f65_w.jpg?h=25776efe65d33db54f04438ba907ca5d" loading="lazy"></div>
                    <div class="col-sm-6 col-lg-4 col-xl-4"><img class="rounded w-100 mb-3" src="/assets/img/50540244916_fe10740cac_w.jpg?h=8ae43b1adae05c78b3fe94379f8c229b" loading="lazy"></div>
                    <div class="col-sm-6 col-lg-4 col-xl-4"><img class="rounded w-100 mb-3" src="/assets/img/50540244861_3331384b5b_w.jpg?h=ee9127f3d3c15020fa31e820f0ef93f6" loading="lazy"></div>
                    <div class="col-sm-6 col-lg-4 col-xl-4"><img class="rounded w-100 mb-3" src="/assets/img/50540244841_7272dacdbc_w.jpg?h=ae12ef61ad95da2a3cee36351df7f610" loading="lazy"></div>
                    <div class="col-sm-6 col-lg-4 col-xl-4"><img class="rounded w-100 mb-3" src="/assets/img/50540244761_fd95e7e187_w.jpg?h=07372eddc92175b8661253307bcec4bf" loading="lazy"></div>
                    <div class="col-sm-6 col-lg-4 col-xl-4"><img class="rounded w-100 mb-3" src="/assets/img/50540244626_a431dd4ed6_w.jpg?h=9e2ee1586ff18e2cd2b7cc75aaca27d6" loading="lazy"></div>
                    <div class="col-sm-6 col-lg-4 col-xl-4"><img class="rounded w-100 mb-3" src="/assets/img/50540240166_0fbff4e095_w.jpg?h=0fa43fa61571dd1a1936adfc2ebb789a" loading="lazy"></div>
                    <div class="col-sm-6 col-lg-4 col-xl-4"><img class="rounded w-100 mb-3" src="/assets/img/50540240101_b9bbcc94e6_w.jpg?h=9cc15bc68d5b4d6e9a8d4954f5218e57" loading="lazy"></div>
                    <div class="col-sm-6 col-lg-4 col-xl-4"><img class="rounded w-100 mb-3" src="/assets/img/50540240021_872c970465_w.jpg?h=7bd0ec2c260767209816d46c90856250" loading="lazy"></div>
                    <div class="col-sm-6 col-lg-4 col-xl-4"><img class="rounded w-100 mb-3" src="/assets/img/50540239861_f6350ff38b_w.jpg?h=972dc725281e2d36bc9b86322c795186" loading="lazy"></div>
                    <div class="col-sm-6 col-lg-4 col-xl-4"><img class="rounded w-100 mb-3" src="/assets/img/50539520473_76f3dc7061_w.jpg?h=55151ac22789fddb78c57a09e5b3cae9" loading="lazy"></div>
                    <div class="col-sm-6 col-lg-4 col-xl-4"><img class="rounded w-100 mb-3" src="/assets/img/50539520433_a357f2972a_w.jpg?h=ca2a8977df61289a1f2d995fe2360a1d" loading="lazy"></div>
                    <div class="col-sm-6 col-lg-4 col-xl-4"><img class="rounded w-100 mb-3" src="/assets/img/50539519943_3495c97a7c_w.jpg?h=4b892040417806db668fa0e0b79dfb47" loading="lazy"></div>
                    <div class="col-sm-6 col-lg-4 col-xl-4"><img class="rounded w-100 mb-3" src="/assets/img/50539515603_8b80ddb45f_w.jpg?h=491e41f1d4591ea4cb6a910c95ad7fb0" loading="lazy"></div>
                    <div class="col-sm-6 col-lg-4 col-xl-4"><img class="rounded w-100 mb-3" src="/assets/img/50539515228_987cb2dd47_w.jpg?h=05827b782acaed5c148e005303baf10b" loading="lazy"></div>
                    <div class="col-sm-6 col-lg-4 col-xl-4"><img class="rounded w-100 mb-3" src="/assets/img/50539513448_80bf3ac2c3_w.jpg?h=bc01bb4fec1de05109ee6d30bc58835c" loading="lazy"></div>
                    <div class="col-sm-6 col-lg-4 col-xl-4"><img class="rounded w-100 mb-3" src="/assets/img/50539511133_c8ef08c312_w.jpg?h=c202205fbff4e54b7d86ad16e268ea9f" loading="lazy"></div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer-clean">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Start: Services -->
                <div class="col-sm-4 col-md-3 item">
                    <h3 class="text-primary">Dịch vụ</h3>
                    <ul class="list-unstyled">
                        <li><a class="text-body" href="#">Thiết kế website</a></li>
                        <li><a class="text-body" href="#">Phát triển phần mềm</a></li>
                        <li><a class="text-body" href="#">Hosting</a></li>
                    </ul>
                </div><!-- End: Services -->
                <!-- Start: About -->
                <div class="col-sm-4 col-md-3 item">
                    <h3 class="text-primary">Phát triển bởi</h3>
                    <ul class="list-inline d-inline">
                        <li class="list-inline-item d-inline-block">Sinh viên trường ĐH Bách Khoa Đà Nẵng.</li>
                    </ul>
                    <h3 class="text-primary">Công ty</h3>
                    <ul class="list-unstyled">
                        <li>Công ty TNHH Công Nghệ Điện Tử Quảng Đà.</li>
                        <li>Mã số thuế: 4001202704.</li>
                        <li>Địa chỉ: Thôn 2, Xã Bình Đào, Huyện Thăng Bình, Tỉnh Quảng Nam.<br></li>
                        <li></li>
                    </ul>
                </div><!-- End: About -->
                <!-- Start: Careers -->
                <div class="col-sm-4 col-md-3 item">
                    <h3 class="text-primary">Liên hệ</h3>
                    <ul class="list-unstyled">
                        <li>Leader: Trần Ngọc Huy</li>
                        <li>Điện thoại/Zalo: 0332813077</li>
                        <li>Địa chỉ: 54 Nguyễn Lương Bằng, Liên Chiểu, Đà Nẵng.</li>
                        <li></li>
                    </ul><img class="w-100" src="/assets/img/zalo.jpg?h=614debe3b6ec66917ebd818aa1c50b6e" loading="lazy" alt="Zalo">
                </div><!-- End: Careers -->
            </div>
        </div><img src="/assets/img/wave(2).svg?h=5ad7ab1ad1557422fec002e92b1ae54b" alt="Nền">
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/smart-forms.min.js?h=db5fbbc34070d36ea9b98958ab6f065c"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="/assets/js/script.min.js?h=258fb4a324cc9d5037487a7dc0b1362c"></script>
</body>

</html>