<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tạo Cửa Hàng Bán Lẻ Online</title>
    <meta name="twitter:description" content="<!-- Load Facebook SDK for JavaScript -->
      <div id=&quot;fb-root&quot;></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v9.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your Chat Plugin code -->
      <div class=&quot;fb-customerchat&quot;
        attribution=setup_tool
        page_id=&quot;395622761034219&quot;
  theme_color=&quot;#ff895a&quot;
  logged_in_greeting=&quot;Tư vấn ngay, giúp bạn hiểu hơn về Website/Phần mềm. ^_^&quot;
  logged_out_greeting=&quot;Tư vấn ngay, giúp bạn hiểu hơn về Website/Phần mềm. ^_^&quot;>
      </div>">
    <meta property="og:image" content="/assets/img/Personal%20site-cuate.svg?h=8c2ed189e86078111fc282bd9a3c5f7e">
    <meta name="twitter:title" content="Giải Pháp Phần Mềm">
    <meta name="twitter:card" content="summary">
    <meta name="description" content="Làm hài lòng khách hàng của bạn. Đơn giản để tạo lập và phát triển.">
    <meta property="og:type" content="website">
    <meta name="twitter:image" content="/assets/img/Personal%20site-cuate.svg?h=8c2ed189e86078111fc282bd9a3c5f7e">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png?h=cf681ecd5bbf6d03e3056673d0122646">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png?h=dada6ed6c75053e6f84520a87241cd23">
    <link rel="icon" type="image/png" sizes="180x180" href="/assets/img/apple-icon-180x180.png?h=b5b7d59e89a4d05d1aca1c00dfe1b70f">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/android-icon-192x192.png?h=033de9a23d4cfa21fd3383f727564736">
    <link rel="icon" type="image/png" sizes="310x310" href="/assets/img/ms-icon-310x310.png?h=f9285fe98206007e11710305c82d9ea2">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.3/united/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css?h=69c29b29303563e0ebbd0e0e69162409">
</head>

<body>
    <%- include('../partials/header.html') %>

    <main>
        <section>
            <div class="container" data-aos="fade-up">
                <div class="text-center mb-4" style="margin: auto;max-width: 500px;">
                    <h6 class="text-uppercase text-center text-secondary">và hơn nữa</h6>
                    <h4 class="display-4 text-primary">Tính Năng Đặc Biệt</h4>
                    <div class="text-warning" style="border-bottom: 15px solid;margin-top: -18px;width: 98px;"></div>
                    <p>Tự động lấy dữ liệu sản phẩm từ KiotViet.<br>Đồng bộ bài viết&nbsp; từ Fanpage sang website</p>
                    <p class="text-justify text-secondary">Từ nay, bạn không phải tốn công để quản lí sản phẩm. Chăm sóc vận hành website nữa.<br>Hệ thống Loa Loa tự động lấy sản phẩm từ KiotViet. Và bài viết từ fanpage facebook để cập nhật lên trang website.<br>Nội dung được cập nhật liên tục giúp website trở nên rộn ràng. Khách hàng cảm thấy tin tưởng hơn.</p>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer-clean">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Start: Services -->
                <div class="col-sm-4 col-md-3 item">
                    <h3 class="text-primary">Dịch vụ</h3>
                    <ul class="list-unstyled">
                        <li><a class="text-body" href="#">Thiết kế website</a></li>
                        <li><a class="text-body" href="#">Phát triển phần mềm</a></li>
                        <li><a class="text-body" href="#">Hosting</a></li>
                    </ul>
                </div><!-- End: Services -->
                <!-- Start: About -->
                <div class="col-sm-4 col-md-3 item">
                    <h3 class="text-primary">Phát triển bởi</h3>
                    <ul class="list-inline d-inline">
                        <li class="list-inline-item d-inline-block">Sinh viên trường ĐH Bách Khoa Đà Nẵng.</li>
                    </ul>
                    <h3 class="text-primary">Công ty</h3>
                    <ul class="list-unstyled">
                        <li>Công ty TNHH Công Nghệ Điện Tử Quảng Đà.</li>
                        <li>Mã số thuế: 4001202704.</li>
                        <li>Địa chỉ: Thôn 2, Xã Bình Đào, Huyện Thăng Bình, Tỉnh Quảng Nam.<br></li>
                        <li></li>
                    </ul>
                </div><!-- End: About -->
                <!-- Start: Careers -->
                <div class="col-sm-4 col-md-3 item">
                    <h3 class="text-primary">Liên hệ</h3>
                    <ul class="list-unstyled">
                        <li>Leader: Trần Ngọc Huy</li>
                        <li>Điện thoại/Zalo: 0332813077</li>
                        <li>Địa chỉ: 54 Nguyễn Lương Bằng, Liên Chiểu, Đà Nẵng.</li>
                        <li></li>
                    </ul><img class="w-100" src="/assets/img/zalo.jpg?h=614debe3b6ec66917ebd818aa1c50b6e" loading="lazy" alt="Zalo">
                </div><!-- End: Careers -->
            </div>
        </div><img src="/assets/img/wave(2).svg?h=5ad7ab1ad1557422fec002e92b1ae54b" alt="Nền">
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/smart-forms.min.js?h=db5fbbc34070d36ea9b98958ab6f065c"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="/assets/js/script.min.js?h=258fb4a324cc9d5037487a7dc0b1362c"></script>
</body>

</html>